/*!
 * Custom css params for chota
 */
:root {
    --bg-color: #000;
    --bg-secondary-color: #262626;
    --font-color: #f5f5f5;
    --color-grey: #bbb;
    --color-darkGrey: #888;
    --color-darkDarkGrey: #555;
    --color-darkDarkDarkGrey: #222;
    --color-error: #ea4f4f;
    --grid-maxWidth: 108rem;
}

* {
    line-height: 1;
}

.focused-in-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-centered {
    text-align: center;
}

.flex-columned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-columned {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer {
    opacity: 0.75;
    color: var(--color-darkDarkGrey);
}

.footer:last-child {
    margin: 7rem 0 2.5rem;
}

.header {
    height: 40vh;
}

.cool-margin {
    margin: 15rem 0 5rem;
}

.mc-hr {
    display: none;
}

.background-1 {
    border: none;
    border-radius: 1.5em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/altamino-bg.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @supports (background: url(/static/images/altamino-bg.webp)) {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/altamino-bg.webp);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        border-radius: 1.5em;
    }
}

.android-text {
    margin-top: 0em;
}

summary {
    font-size: 125%;
}

details>p {
    line-height: 1.25;
}

details>p>a,
details>p>a:visited {
    color: var(--font-color);
    text-decoration: underline;
}

#need-focusing {
    -webkit-animation: focus-in 0.25s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: focus-in 0.25s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

#altamino-banner {
    text-align: center;
    font-size: 200%;
}

#altamino-banner>h1 {
    margin-block-start: 0em !important;
    margin-block-end: 0.25em !important;
}

#altamino-banner>p {
    padding: 0 2rem;
    line-height: 1.25;
}

.sticky-menu {
    position: sticky;
    z-index: 5928;
    overflow: hidden;
    top: 0;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 100%);
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 599px) {
    .mobile-centered {
        text-align: center;
        padding-top: 1em;
        margin-top: -1em;
        border-top: solid 1px;
        border-image: linear-gradient(to right, transparent, var(--color-darkDarkGrey), transparent) 1;
    }

    .mc-hr {
        display: block;
        border: 0;
        height: 1px;
        background: linear-gradient(to right, transparent, var(--color-darkDarkDarkGrey), transparent);
        margin-bottom: 1em;
    }

    .footer:last-child {
        margin: 2.5rem 0 2.5rem;
    }

    .header {
        height: 45vh;
    }

    .background-1 {
        border-radius: 0;
        margin: 0;
    }

    .flex-columned:first-child {
        border-top: 0;
    }

    .flex-columned {
        border-top: solid 1px;
        border-image: linear-gradient(to right, transparent, var(--color-darkDarkGrey), transparent) 1;
        padding-top: 1em;
    }

    .flex-columned,
    .mobile-centered {
        max-width: 85%;
    }

    .row {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .mobile-centered {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@-webkit-keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}